.special-class {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #33cc33,
    #00ccff,
    #9933ff,
    #ff33cc
  );
  background-size: 400% 400%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.second-class {
  --border-angle: 0deg;
  border-radius: 12px;
  box-shadow: 0px 2px 4px hsl(0 0% 0% / 25%);
  animation: border-angle-rotate 2s infinite linear;
  border: 0.1rem solid transparent;
  color: black;
  background: linear-gradient(white, white) padding-box,
    conic-gradient(
        from var(--border-angle),
        hsl(0, 1%, 36%),
        hsl(0 0% 90%),
        hsl(0, 1%, 25%),
        hsl(0 0% 80%),
        hsl(0 0% 85%)
      )
      border-box;
}

@keyframes border-angle-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}

.third-class {
  --border-angle: 0deg;
  border-radius: 12px;
  box-shadow: 0px 2px 4px hsl(0 0% 0% / 25%);
  animation: border-angle-rotate 2s infinite linear;
  border: 0.1rem solid transparent;
  color: black;
  background: linear-gradient(white, white) padding-box,
    conic-gradient(
        from var(--border-angle),
        hsl(30 70% 40%),
        hsl(30 60% 35%),
        hsl(30 80% 50%),
        hsl(30 70% 40%)
      )
      border-box;
}
